/* 이쁘게 하기 위해서는 초기 여백을 없애기 위해 사용 (모두 적용) */
* {
  border: 0px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
}

#top-title {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 14pt;
  background-color: #46C440;
  color: #ffffff;
  font-family: InterparkGothicBold;
  font-weight: normal;
}

.center-content, .bottom-content {
  width: 100%;
  height: calc((100% - 100px) / 2);
}

#center-left, #center-center, #center-right, #bottom-left, #bottom-center, #bottom-right {
  display: inline-block;
  float: left;
  width: calc((100% / 3) - 2px);
  margin: 1px;
  height: 100%;
}

#center-left-title, #center-center-title, #center-right-title, #bottom-left-title, #bottom-center-title, #bottom-right-title {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12pt;
  background-color: #e0e0e0;
  color: #333333;
  font-family: InterparkGothicBold;
  font-weight: normal;
}

#center-left-img, #center-center-img, #center-right-content, #bottom-left-img, #bottom-center-content, #bottom-right-content {
  width: 100%;
  height: calc(100% - 40px);
}

#center-right-content, #bottom-center-content, #bottom-right-content {
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  padding: 20px;
  background-color: #f0f0f0;
  overflow-y: auto;
}

#center-button, #bottom-button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-size: 12pt;
  background-color: #46C440;
  color: #ffffff;
  font-family: InterparkGothicBold;
  font-weight: normal;
  cursor: pointer;
}

#center-button:hover, #bottom-button:hover {
  background-color: #1D9DE0;
  transition: all 0.5s;
}

#footer-title {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 10pt;
  background-color: #ffffff;
  color: #333333;
  font-family: InterparkGothicLight;
  font-weight: normal;
}

p {
  width: calc(100% - 10px);
  margin-bottom: 5px;
  margin-right: 0px;
  color: #333333;
  font-family: InterparkGothicLight;
  font-weight: normal;
}

input {
  display: block;
  width: calc(100% - 12px);
  height: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  padding: 5px;
  font-size: 10pt;
  border: 1px solid #cccccc;
  font-family: InterparkGothicLight;
  font-weight: normal;
}

#toast {
  position: absolute;
  bottom: 15%;
  width: 500px;
  text-align: center;
  margin-left: calc(50% - 280px);
  padding: 30px;
  background-color: #333333;
  color: #f0f0f0;
  border-radius: 3px;
  font-family: InterparkGothicLight;
  font-weight: normal;
  font-size: 20pt;
  opacity: 0;
  transition: all 0.5s;
}

#toast.show {
  opacity: 1;
  transition: all 0.5s;
}

@font-face {
	font-family: 'InterparkGothicBold';
	src: url('./fonts/InterparkGothicBold.ttf') format('truetype');
	src: url('./fonts/InterparkGothicBold.woff') format('woff');
}

@font-face {
	font-family: 'InterparkGothicLight';
	src: url('./fonts/InterparkGothicLight.ttf') format('truetype');
	src: url('./fonts/InterparkGothicLight.woff') format('woff');
}
